/* resets */

body,
figure {
  margin: 0;
}

body {
  max-width: 60em; /* 960px (16px = 1em) */
  padding: 0 1em 0 1em; /* (clockwise) padding-right, padding-bottom, padding-left */
  margin-left: auto;
  margin-right: auto;
}


/* responsive images */

img {
    width: auto;
    max-width: 100%;
    height: auto;
}

body{
  /*black 0123456789abcdef white*/
  background-color: #eee;
  font-family: Georgia, serif;
  !padding: 0 3.5%;
  !padding: 1.2rem;
  !margin: 0 auto;
}


/* hero figure/img */

figure.hero {
  margin: 0 -1em;
}

figure.hero img {
  margin-top: 3em;
}

figure.hero figcaption {
  margin: 0 1em;
}

p{
  font-size: 1.3em;
  line-height: 1.5; /* unitless, please! */
}

p.byline {
  font-weight: bold;
  text-transform: uppercase
}

:hover
